body {
  margin: 0px;
}
.top-nav {
  display: flex;
  justify-content: space-around;
  background-color: #205072;
  padding: 5px;
}
.logo {
  display: flex;
  align-items: center;
  color: white;
  gap: 10px;
}
/* add fontsize later*/
.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  color: white;
  gap: 50px;
  font-size: 20px;
  font-weight: 500;
}
.nav-menu li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
  cursor: pointer;
}
.nav-menu hr {
  color: white;
  border: none;
  width: 50%;
  height: 3px;
  border-radius: 5px;
  background: lightblue;
}
.nav-menu a {
  color: white;
  text-decoration: none;
}
.cart-icon {
  display: flex;
  align-items: center;
}
.cart-count {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -35px;
  margin-left: -10px;
  border-radius: 11px;
  font-size: 14px;
  background-color: red;
  color: white;
}